<div class="container">
<nav class="navbar fixed-top">    
    <div class="logo" style="cursor: pointer;">Rajasthan <br /> <span class="logo_text" >Travel</span> </div>
    <ul class="nav-links" [class.nav-active]="isNavActive">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/book">Book a Bus</a></li>
        <li><a routerLink="/schedule">Schedule</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <div class="burger" (click)="toggleNav()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>  
</div>