<div class="search-box">
  <h2>Bus Search</h2>
  <form (ngSubmit)="onSearch()">
    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <mat-select [(ngModel)]="searchCriteria.departureLocation" name="departureLocation" required>
        <mat-option *ngFor="let location of locations" [value]="location.viewValue">
          {{ location.viewValue | titlecase   }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>To</mat-label>
      <mat-select [(ngModel)]="searchCriteria.arrivalLocation" name="arrivalLocation" required>
        <mat-option *ngFor="let location of locations" [value]="location.viewValue">
          {{ location.viewValue | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Departure Date</mat-label>
      <input matInput [matDatepicker]="departureDatepicker" [(ngModel)]="searchCriteria.departureDate" name="departureDate" required (focus)="openDatepicker(departureDatepicker)">
      <mat-datepicker-toggle matSuffix [for]="departureDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #departureDatepicker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary">Search</button>
  </form>
</div>

<!-- <div *ngIf="filteredBuses.length > 0"> -->
  <!-- <app-bookings  [busDetails]="busDetailsArray"></app-bookings> -->
<!-- </div> -->
<!-- *ngFor="let busDetails of busDetailsArray" -->
<!-- <div *ngIf="filteredBuses.length === 0">
  <p>No buses found for the selected criteria.</p>
</div> -->
<router-outlet></router-outlet>