  .search-box {
    position: absolute;
    top: 60%;
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 420px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* background-color: #fff; */
    background-color: #435271b8;
    z-index: 10;
  }
  
  .search-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 10px 1px 10px rgba(105, 102, 102, 0.46);
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    width: 100%;
  }
  
  
  