<div class="main_container">
    <div class="clearfix">
        <ul class="amenlist clearfix fl w-90">
            <li><i class=" fa-solid fa-ticket dib icon icon-mticket mticket-icon"></i><span class="mtic d-color">M-ticket Supported</span>
            </li>
            <div>
                <li><i class="fa-solid fa-bottle-water icon icon-00 icon-am_4 amenity-icon"></i><span class="amenity-name d-color">Water
                        Bottle</span></li>
            </div>
            <div>
                <li><img class="icon icon-00 icon-am_5 amenity-icon" src="assets/blanket.png" alt="" style="width: 23px;"><span
                        class="amenity-name d-color">Blankets</span></li>
            </div>
            <div>
                <li><img class="icon icon-00 icon-am_47 amenity-icon" src="assets/usb.png" alt="" style="width: 23px;"><span class="amenity-name d-color">USB port for
                        charger</span></li>
            </div>
            <div>
                <li><i class="fa-solid fa-toilet icon icon-00 icon-am_35 amenity-icon">
                </i><span class="amenity-name d-color">Toilet</span>
                </li>
            </div>
            <div>
                <li><img class="icon icon-00 icon-am_9 amenity-icon" src="assets/lamp.png" alt="" style="width: 23px;"><span class="amenity-name d-color">Reading
                        Light</span></li>
            </div>
            <div>
                <li><img class="icon icon-00 icon-am_26 amenity-icon" src="assets/cctv.png" alt="" style="width: 23px;"><span class="amenity-name d-color">CCTV</span>
                </li>
            </div>
            <div>
                <li><img class="icon icon-00 icon-am_27 amenity-icon" src="assets/emergency-call.png" alt="" style="width: 23px;"><span class="amenity-name d-color">Emergency
                        Contact Number</span></li>
            </div>
            <!-- <div>
                <li><i class="icon icon-00 icon-am_62 amenity-icon"></i><span
                        class="amenity-name d-color">M-ticket</span></li>
            </div> -->
            <div>
                <li><img class="icon icon-00 icon-am_19 amenity-icon" src="assets/location.png" alt="" style="width: 23px;"><span class="amenity-name d-color">Track My
                        Bus</span></li>
            </div>
        </ul>
    </div>
</div>