

.hero-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
  width: 100%;
  text-align: center;
}

.hero-carousel img {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* max-width: 1200px;  */
    margin: auto auto;  
    /* overflow: hidden; */
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
}
.hero-carousel svg{
  position: absolute;
  top: 200px;
}


/* bus tree */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.road {
  position: relative;
  width: 100%;
  height: 100px;
  /* background-color: #4B4B4B;  */
  /* overflow: hidden; */
}

.bus {
  position: absolute;
  width: 140px;
  height: 100px;
  top: 28%;  
  transform: rotateX(3.142rad);
  /* transform: translateY(-50%); */
  animation: moveBus 15s linear infinite;
  z-index: 10;
}

.bus img {  
  transform: rotate(180deg);
  width: 100%;
  height: auto;
}

.tree {
  position: absolute;  
  width: 100%;
  height: 100px;
  top: 8%;
}

.tree img {
  width: 100%;
  height: 80px  ;
}


.tree2 {
  left: 40%;
}

.tree3 {
  left: 70%;
}

@keyframes moveBus {
  0% { left: -100px; }
  100% { left: 100%; }
}


/* slogan style */

.container {
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: space-around;
  align-items: center; 
  width: 80%;
  max-width: 1200px; 
}

.block {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
  transition: transform 0.3s ease;
}

.block:hover {
  transform: scale(1.05);
}

.block i {
  font-size: 50px;
  color: #f39c12;
  margin-bottom: 10px;
}

.block h3 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.block p {
  font-size: 16px;
  color: #777;
}
.block img{
  width: 80px;
}

@media (max-width: 1024px) {
  .container {
      flex-wrap: wrap;
  }
  
  .block {
      width: 45%;
      margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .block {
      width: 100%;
  }
}

/* heading paragraph style */
.heading_para {
  max-width: 800px; 
  margin: 50px auto;
  padding: 20px;
  background-color: #fff; /* White background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
}


.heading_para h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}


.heading_para p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

/* Responsive design */
@media (max-width: 768px) {
  .heading_para {
      padding: 15px;
  }

  .heading_para h3 {
      font-size: 20px; 
  }

  .heading_para p {
      font-size: 14px;
  }
}



.test_container {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* ensures full height */
}

.block_amenties {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 200px;
  height: 100%;
  box-sizing: border-box;
}

.block_amenties i {
  font-size: 30px;
  color: #3b3a42;
  margin-bottom: 10px;
}

.block_amenties p {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.block_amenties:hover {
  box-shadow: 0 0 10px rgba(17, 21, 255, 0.324);
}

.block_amenties:hover i {
  color: #2112f3;
}

@media (max-width: 1024px) {
  .block_amenties {
    margin: 0 5px;
  }
}

@media (max-width: 768px) {
  .block_amenties {
    margin: 0 2px;
  }
}

::ng-deep .custom-slick-list{
    margin-top: 10px !important;
}

/* about Us apge style  */

  
.about-us-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about-section{
	position:relative;
}

.about-section .content-column{
	position:relative;
	margin-bottom:40px;
}

.about-section .content-column .inner-column{
	position:relative;
	padding-top:50px;
	padding-right:100px;
}

.about-section .content-column .text{
	position:relative;
	color:#777777;
	font-size:15px;
	line-height:2em;
	margin-bottom:40px;
}

.about-section .content-column .email{
	position:relative;
	color:#252525;
	font-weight:700;
	margin-bottom:50px;
}

.about-section .image-column{
	position:relative;
	margin-bottom:50px;
}

.about-section .image-column .inner-column{
	position:relative;
	padding:40px 40px 0px 0px;
	margin-left:50px;
}

.about-section .image-column .inner-column:after{
	position:absolute;
	content:'';
	right:0px;
	top:0px;
	left:40px;
	bottom:100px;
	z-index:-1;
	border:2px solid #0e11c7;
}

.about-section .image-column .inner-column .image{
	position:relative;
}

.about-section .image-column .inner-column .image:before{
	position:absolute;
	content:'';
	left:-50px;
	bottom:-50px;
	width:299px;
	height:299px;
}

.about-section .image-column .inner-column .image img{
	position:relative;
	width:100%;
	display:block;
}

.about-section .image-column .inner-column .image .overlay-box{
	position:absolute;
	left:40px;
	bottom:48px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box{
	position:relative;
	color:#252525;
	font-size:24px;
	font-weight:700;
	line-height:1.4em;
	padding-left:125px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box .number{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 110px;
  height: 110px;
  color: #120fd8;
  font-size: 68px;
  text-shadow: 1px 2px 2px rgb(0, 0, 0);
  font-weight: 700;
  line-height: 105px;
  text-align: center;
  background-color: #dd8f2a91;
  border: 1px solid #997300;
}
.about-section .btn-style-three:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    z-index: -1;
    right: -10px;
    bottom: -10px;
    background-image: url('../../../assets/busWall.jpg') repeat;
}
.about-section .btn-style-three:hover {
    color: #ffffff;
    background: #0000ff;
}
.about-section .btn-style-three {
    position: relative;
    line-height: 24px;
    color: #252525;
    font-size: 15px;
    font-weight: 700;
    background: none;
    display: inline-block;
    padding: 11px 40px;
    background-color: #ffffff;
    text-transform: capitalize;
    /* border: 2px solid #d7a449; */
    font-family: 'Arimo', sans-serif;
}
.sec-title2{
	color:#fff;
}
.sec-title {
    position: relative;
    padding-bottom: 40px;
}
.sec-title .title {
    position: relative;
    color: #060ee8;
    font-size: 18px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: capitalize;
}
.sec-title .title:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 7px;
    width: 40px;
    height: 1px;
    background-color: #bbbbbb;
}