<!-- <div class="hero-carousel"> -->
<!-- @if (images) {
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper"> -->
				<!-- <img [src]="dir" alt="Hero Content" />
				<app-bus-search></app-bus-search> -->
			<!-- </div>            
			<div class="carousel-caption"> -->	
				
				<!-- <h3>{{heading_txt}}</h3> -->
			<!-- </div>
		</ng-template>		
	</ngb-carousel> 
} -->
<!-- </div> -->
<!-- <div class="bg-text"> -->
	
  <!-- </div> -->

  <div class="hero-carousel">
	<img [src]="this.dir" alt="Hero Content" />		
  </div>
  <app-bus-search></app-bus-search>