<div class="hero-carousel">
	<img [src]="dir" alt="Hero Content" />
	<app-bus-search></app-bus-search>

</div>
<div class="road">
	<div class="bus">
		<img [src]="bus" alt="Bus">
	</div>
	<div class="tree tree1">
		<img src="assets/building.png" alt="Tree">
	</div>
</div>
<div class="heading_para">
	<h3>Your Trusted Partner in Travel: We Promise Exceptional Service</h3>
	<p>Discover seamless bus bookings at Rajasthan Travels. Whether commuting daily or exploring new destinations, trust
		our commitment to safety, comfort, and convenience. Join thousands of satisfied travelers who rely on us for
		hassle-free journeys.</p>
</div>

<div class="container">
	<div class="block">
		<img src="assets/bus-ticket.png" alt="">
		<h3>Your Journey Starts Here</h3>
		<hr>
		<p>Hassle-Free Bus Bookings</p>
	</div>
	<div class="block">
		<img src="assets/ticket.png" alt="">
		<h3>Travel Smart</h3>
		<hr>
		<p>Book Your Bus with Us</p>
	</div>
	<div class="block">
		<img src="assets/bus.png" alt="">
		<h3>Connecting Destinations</h3>
		<hr>
		<p>One Bus at a Time</p>
	</div>
</div>
<div class="test_container">
	<div class="head_test">
		<h3>Our Amenities</h3>
		<p>
			Have a look at our popular reasons why you should choose our bus service.
			Just choose a bus and get a ticket for your great journey!
		</p>
	</div>
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide" *ngFor="let slide of slides">
				<div class="block_amenties">
					<i [class]="slide.icon"></i>
					<hr />
					<p [title]="slide.text">{{ slide.text }}</p>
				</div>
			</div>
		</div>
		<!-- <div class="swiper-pagination"></div> -->
	</div>
</div>

<div class="about-us-container">
	<section class="about-section">
		<div class="container">
			<div class="row clearfix">
				<div class="content-column col-md-6 col-sm-12 col-xs-12">
					<div class="inner-column">
						<div class="sec-title">
							<div class="title">About Us</div>
							<h2>We build Trust <br> And Safty</h2>
						</div>
						<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
							unknown printer took a galley of type and scrambled it to make a type specimen book. It has
							survived not only five centuries</div>
						<div class="email">Request Quote: <span class="theme_color">freequotegmail.com</span></div>
						<a routerLink="/aboutus" class="theme-btn btn-style-three">Read More</a>
					</div>
				</div>

				<!--Image Column-->
				<div class="image-column col-md-6 col-sm-12 col-xs-12">
					<div class="inner-column " data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img [src]="back_bus" alt="">
							<div class="overlay-box">
								<div class="year-box"><span class="number">2</span>Years <br> Visitors <br> Trust</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>