/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('swiper/css');
@import url('swiper/css/navigation');
@import url('swiper/css/pagination');
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }

body {    
    font-family: "Cormorant Garamond", serif;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
.slick-list {
    margin-top: 10px !important;
  }

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */



  
 
  